body{
  padding:0;
  margin: 0;
}
.container{
  background-color:		#E8E8E8;
  min-height:100vh;
  border-style:solid  ;
  border-color: #696969;
  border-width: 8px;
  margin:0 10%;
}
.content{
  max-width: 800px;
  margin: 0 auto;
}
.topsec{
  margin-top:100px;
  display:flex;
  justify-content:space-around;
  align-items: flex-end;
  text-transform: uppercase;
  line-height: normal;
  word-spacing:1.5;
}
h1{
  font-size: 40px;
  font-weight: bolder;
  font-family: serif;
  color:#585858;
}
h4{
  font-size: 20px;
  font-weight: normal;
  font-family: serif;
  color:	#585858;
  text-align: right;
}
.imgdiv{
  border-radius: 50%;
  overflow: hidden;
  max-width:250px;
  max-height: 300px;
}
hr{
  color:#696969 ;
  margin:70px auto;
  width: 100%;
}

.about{
 margin-top: 40px;

}
.about{
  font-weight: normal;
  font-family: serif;
  color:#696969;
  text-transform: capitalize;
  word-spacing:2;
  line-height: 1.5;
}
.end{
  font-weight: normal;
  font-family: serif;
  font-style: italic;
  color:#696969;
  text-transform: capitalize;
  line-height: 1.5;
}
